ChallengeResponseAuthentication no
UsePAM no
PrintMotd no
X11Forwarding no
AllowTcpForwarding no
AllowAgentForwarding no
PermitTunnel no
PasswordAuthentication no
PubkeyAuthentication yes
PermitRootLogin no
PermitRootLogin prohibit-password
AuthorizedKeysFile .ssh/authorized_keys